SLS.Phone.DbLibrary/Service References/SLSMobile/SLSMobile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SLS.WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SLS.WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBorrowedBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BorrowedBook" nillable="true" type="tns:BorrowedBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBorrowedBook" nillable="true" type="tns:ArrayOfBorrowedBook" />
  <xs:complexType name="BorrowedBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cover" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="table_of_contents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BorrowedBook" nillable="true" type="tns:BorrowedBook" />
</xs:schema>