SLS.Mobile/Service References/SLSMobile/SLSMobile32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.101:1234/SLSMobile?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SLS.WCFService" />
  <xs:element name="GetBooksForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SLS.WCFService" minOccurs="0" name="GetBooksForUserResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrowBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrowBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrowBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPushNotificationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPushNotificationServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>