SLS.Mobile/Service References/SLSMobile/SLSMobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLSMobileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/SLSMobile?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/SLSMobile?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/SLSMobile?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SLS.WCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLSMobileService_GetBooksForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksForUser" />
  </wsdl:message>
  <wsdl:message name="ISLSMobileService_GetBooksForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksForUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSMobileService_BorrowBook_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBook" />
  </wsdl:message>
  <wsdl:message name="ISLSMobileService_BorrowBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBookResponse" />
  </wsdl:message>
  <wsdl:message name="ISLSMobileService_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="ISLSMobileService_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLSMobileService">
    <wsdl:operation name="GetBooksForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSMobileService/GetBooksForUser" message="tns:ISLSMobileService_GetBooksForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSMobileService/GetBooksForUserResponse" message="tns:ISLSMobileService_GetBooksForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSMobileService/BorrowBook" message="tns:ISLSMobileService_BorrowBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSMobileService/BorrowBookResponse" message="tns:ISLSMobileService_BorrowBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLSMobileService/ReturnBook" message="tns:ISLSMobileService_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLSMobileService/ReturnBookResponse" message="tns:ISLSMobileService_ReturnBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLSMobileService" type="tns:ISLSMobileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooksForUser">
      <soap:operation soapAction="http://tempuri.org/ISLSMobileService/GetBooksForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <soap:operation soapAction="http://tempuri.org/ISLSMobileService/BorrowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/ISLSMobileService/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLSMobileService">
    <wsdl:port name="BasicHttpBinding_ISLSMobileService" binding="tns:BasicHttpBinding_ISLSMobileService">
      <soap:address location="http://localhost:1234/SLSMobile" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>